*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1450px;
    margin: 0 auto;
}
#head{
    background: url(../img/квартира.png) no-repeat center/cover;
    min-width: 90vh;
    min-height: 90vh;

}
.img-2{
    position: relative;
    left: 1300px;
    top: 200px;


}
.text{
    padding-left: 30px;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.green-title{
    color: #49780E;
    padding-right: 130px;
}

